/* Global Elements */

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Main Header and Nav Bar */

.main-header {
  background: black;
}

h1 {
  font-family: 'Monoton', Helvetica, sans-serif;
  color: white;
  font-weight: 200;
  margin: auto;
  align-content: center;
  /* padding-left: 75px; */
}

h1 span {
  font-weight: 600;
}


.main-nav {
  font-family: 'Audiowide', Helvetica, sans-serif;
}

.main-nav li a {
  text-decoration: none;
  color: white;
}


.navigation li {
  padding-right: 1em;
}

.navigation a:hover {
  color: yellow;
}

.navigation a:hover::after {
  width: 100%;
}

.navigation a::after {
  content: '';
  display: block;
  width: 0;
  height: 5px;
  background-color: yellow;
  border-radius: 5px;
  -webkit-transition: width 2s;
}



ul {
  padding-left: 16px;
}

/* Flexbox Rules */

.main-header,
.navigation {
  display: flex;
  flex-wrap: wrap;
}

.main-header {
  flex-direction: column;
  align-content: center;
}

.navigation {
  justify-content: space-around;

}
