/* Global Elements */

body {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

/* Main Header and Nav Bar */

.main-header {
  background: #222;
}

.main-h1 {
  font-family: 'Monoton', Helvetica, sans-serif;
  color: #fff;
  font-weight: 200;
  margin: auto;
  align-content: center;
  /* padding-left: 75px; */
}

.main-h1 span {
  font-weight: 600;
}

.main-nav {
  font-family: 'Audiowide', Helvetica, sans-serif;
}

.main-nav li a {
  text-decoration: none;
  color: #FFF;
}

.navigation li {
  padding-right: 1em;
}

.navigation a:hover {
  color: 	#FFFFE0;
  text-shadow: 0 2px 4px rgba(255,255,0,.8);
}

.navigation a:hover::after {
  width: 100%;
}

.navigation a::after {
  content: '';
  display: block;
  width: 0;
  height: 5px;
  background-color: #FFFFE0;
  border-radius: 5px;
  -webkit-transition: 300ms ease-out;
  box-shadow: 0 2px 4px rgba(255,255,0,.8);
}



ul {
  padding-left: 16px;
}

/* Banner Rules */

.banner {
  flex: 1;
}

/* Footer Rules */

.foot-container {
  display: flex;
  flex-wrap: wrap;
  background: #222;
  justify-content: center;
}


footer p {
  color: #fff;
  font-size: .75em;
  margin: 0 1em;;
}


/* Flexbox Rules */

.main-header,
.navigation {
  display: flex;
  flex-wrap: wrap;
}

.main-header {
  flex-direction: column;
  align-content: center;
}

.navigation {
  justify-content: space-around;
}
